<section class="ba-section-about">
<div class="row column">
	<div class="row">
		<div class="column medium-4 small-12">
			<div class="ba-about">
				<img src="assets/img/about.png" alt="pic">
				<div class="ba-about__title">
					About us
				</div>
			</div>
		</div>
		<div class="column medium-7 medium-offset-1 small-12">
			<div class="ba-about-content">
				<p>
					Nullam quis risus eget urna <span> mollis ornare </span>vel eu leo. Donec id elit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus auctor fringilla. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.

				</p>
				<p>
					<span>Morbi leo risus</span>, porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum. Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.

				</p>
				<a href="#" class="ba-about-content__link">
					Learn more
				</a>
			</div>
		</div>
	</div>
	




		
</div>		
</section>

<section class="ba-section-services">
<div class="row column">
	<div class="row collapse">
		<div class="column small-12 medium-6 large-4">
			<div class="ba-service-design">
				<div class="ba-service-design__img">
					<img src="assets/img/design.png" alt="pic">
				</div>
				<div class="ba-service-design__title">
					GRAPHIC DESIGN
				</div>
				<div class="ba-service-design__subtitle">
					Cras mattis consectetur purus sit amet fermentum.
				</div>
			</div>
			<div class="ba-service-design ba-service-design--light">
				<div class="ba-service-design__img">
					<img src="assets/img/web.png" alt="pic">
				</div>
				<div class="ba-service-design__title">
					WEB DEVELOPMENT
				</div>
				<div class="ba-service-design__subtitle">
					Cras mattis consectetur purus sit amet fermentum.
				</div>
			</div>
		</div>
		<div class="column small-12 medium-6 large-4">
			<div class="ba-service-design ba-service-design--light">
				<div class="ba-service-design__img">
					<img src="assets/img/seo.png" alt="pic">
				</div>
				<div class="ba-service-design__title">
					SEO & MARKETING
				</div>
				<div class="ba-service-design__subtitle">
					Cras mattis consectetur purus sit amet fermentum.
				</div>
			</div>
			<div class="ba-service-design">
				<div class="ba-service-design__img">
					<img src="assets/img/mobile.png" alt="pic">
				</div>
				<div class="ba-service-design__title">
					MOBILE DEVELOPMENT
				</div>
				<div class="ba-service-design__subtitle">
					Cras mattis consectetur purus sit amet fermentum.
				</div>
			</div>
		</div>	
		<div class="column small-12 medium-6 large-4">
			<div class="ba-service-our">
				<div class="ba-service-our__img">
					<img src="assets/img/service.png" alt="pic">
				</div>
				<div class="ba-service-our__title">
					OUR SERVICES
				</div>
				<div class="ba-service-our__subtitle">
					“Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue.” <br> <span>-Borat-</span> 
				</div>
			</div>
			
		</div>	
	</div>
</div>
</section>	

<section class="ba-section-works">
	<div class="row column">
		<img src="assets/img/recent.png" alt="pic">
		<div class="ba-works__title">
			RECENT WORKS
		</div>
		<div class="ba-slider-wrap">
			<div class="ba-slider">
				<div class="ba-slider-item">
					<img src="assets/img/slide.jpg" alt="pic">
				</div>
				<div class="ba-slider-item">
					<img src="assets/img/slide.jpg" alt="pic">
				</div>
				<div class="ba-slider-item">
					<img src="assets/img/slide.jpg" alt="pic">
				</div>
				<div class="ba-slider-item">
					<img src="assets/img/slide.jpg" alt="pic">
				</div>
			</div>
		</div>
		<a href="#" class="ba-about-content__link ba-gallery--link">
					View Gallery
				</a>

	</div>
</section>

<section class="ba-section-team">
	<div class="row column">
		<div class="ba-team">
			<div class="ba-team__img">
				<img src="assets/img/teamtitle.png" alt="pic">
			</div>
			<div class="ba-team__title">
				MEET OUR TEAM
			</div>
		<div class="row ba-slider-next">
			<div class="column">
				<article class="ba-product">
					<a class="ba-product__link" href="single-product.html">
						<div class="ba-product__img">
							<img src="assets/img/team.png" alt="pic">
						</div>
						<h3 class="ba-product__title">Miguel Obrien</h3>
						<div class="ba-product__subtitle">
							CEO & Founder
						</div>
						<div class="ba-product__socials">
							<svg height="32" width="32">
					         	<use xlink:href="#behance"/>
							</svg>
							<svg height="32" width="32">
					         	<use xlink:href="#linkedin"/>
							</svg>
							<svg height="32" width="32">
					         	<use xlink:href="#google"/>
							</svg>
							<svg height="32" width="32">
					         	<use xlink:href="#facebook"/>
							</svg>
							<svg height="32" width="32">
					         	<use xlink:href="#twitter"/>
							</svg>

						</div>
					</a>
					
				</article>
			</div>
			<div class="column">
				<article class="ba-product">
					<a class="ba-product__link" href="single-product.html">
						<div class="ba-product__img">
							<img src="assets/img/team.png" alt="pic">
						</div>
						<h3 class="ba-product__title">Miguel Obrien</h3>
						<div class="ba-product__subtitle">
							CEO & Founder
						</div>
						<div class="ba-product__socials">
							<svg height="32" width="32">
					         	<use xlink:href="#behance"/>
							</svg>
							<svg height="32" width="32">
					         	<use xlink:href="#linkedin"/>
							</svg>
							<svg height="32" width="32">
					         	<use xlink:href="#google"/>
							</svg>
							<svg height="32" width="32">
					         	<use xlink:href="#facebook"/>
							</svg>
							<svg height="32" width="32">
					         	<use xlink:href="#twitter"/>
							</svg>

						</div>
					</a>
					
				</article>
			</div>
			<div class="column">
				<article class="ba-product">
					<a class="ba-product__link" href="single-product.html">
						<div class="ba-product__img">
							<img src="assets/img/team.png" alt="pic">
						</div>
						<h3 class="ba-product__title">Miguel Obrien</h3>
						<div class="ba-product__subtitle">
							CEO & Founder
						</div>
						<div class="ba-product__socials">
							<svg height="32" width="32">
					         	<use xlink:href="#behance"/>
							</svg>
							<svg height="32" width="32">
					         	<use xlink:href="#linkedin"/>
							</svg>
							<svg height="32" width="32">
					         	<use xlink:href="#google"/>
							</svg>
							<svg height="32" width="32">
					         	<use xlink:href="#facebook"/>
							</svg>
							<svg height="32" width="32">
					         	<use xlink:href="#twitter"/>
							</svg>

						</div>
					</a>
					
				</article>
			</div>
			<div class="column">
				<article class="ba-product">
					<a class="ba-product__link" href="single-product.html">
						<div class="ba-product__img">
							<img src="assets/img/team.png" alt="pic">
						</div>
						<h3 class="ba-product__title">Miguel Obrien</h3>
						<div class="ba-product__subtitle">
							CEO & Founder
						</div>
						<div class="ba-product__socials">
							<svg height="32" width="32">
					         	<use xlink:href="#behance"/>
							</svg>
							<svg height="32" width="32">
					         	<use xlink:href="#linkedin"/>
							</svg>
							<svg height="32" width="32">
					         	<use xlink:href="#google"/>
							</svg>
							<svg height="32" width="32">
					         	<use xlink:href="#facebook"/>
							</svg>
							<svg height="32" width="32">
					         	<use xlink:href="#twitter"/>
							</svg>

						</div>
					</a>
					
				</article>
			</div>
			<div class="column">
				<article class="ba-product">
					<a class="ba-product__link" href="single-product.html">
						<div class="ba-product__img">
							<img src="assets/img/team.png" alt="pic">
						</div>
						<h3 class="ba-product__title">Miguel Obrien</h3>
						<div class="ba-product__subtitle">
							CEO & Founder
						</div>
						<div class="ba-product__socials">
							<svg height="32" width="32">
					         	<use xlink:href="#behance"/>
							</svg>
							<svg height="32" width="32">
					         	<use xlink:href="#linkedin"/>
							</svg>
							<svg height="32" width="32">
					         	<use xlink:href="#google"/>
							</svg>
							<svg height="32" width="32">
					         	<use xlink:href="#facebook"/>
							</svg>
							<svg height="32" width="32">
					         	<use xlink:href="#twitter"/>
							</svg>

						</div>
					</a>
					
				</article>
			</div>
			

		</div>
	</div>
</div>
</section>



